{% extends 'main.html' %}

{% block content%}
<body>
<h1>Welcome to Tennis Match</h1>
{% if post_list %}
    <ul>
    {% for post in post_list %}
        <li><a href="{% url 'match:detail' post.id %}">{{ post.title }} / {{ post.game_type }} / {{post.game_spot.name}} / {{post.game_date|date:"Y.m.d"}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No matches are available.</p>
{% endif %}

<a href="{% url 'match:write'%}">Write a post</a>
</body>

{% if request.user.is_authenticated %}
<div>
    <a href="{% url 'match:profile' pk=request.user.id %}">Hello {{request.user}}!</a>
</div>
<a href="{% url 'match:logout' %}">Logout</a>
{% else %}
<a href = "{% url 'match:login' %}">Login</a>
{% endif %}
<br>
<br>
<a href = "{% url 'match:conversation_list' %}">Your conversations<a>
{% endblock content %}