{% extends 'main.html' %}

{% block content%}
<form action="{% url 'match:confirm' %}" method="POST">
  {% csrf_token %}
  <fieldset>
      <label for="title">Title:</label><br>
      <input type="text" id="title" name="title" value="제목을 입력하세요"><br>
      <label for="game_date">Game date:</label><br>
      <input type="date" id="game_date" name="game_date" value="ex) 2002-02-02"><br>
      <label for="game_type">Game Type:</label><br>
        <select id="game_type" name="game_type">
          {% for game_type in game_types %}
            <option value="{{ game_type }}">{{ game_type }}</option>
          {% endfor %}
        </select><br>
      <label for="game_spot">Game Spot:</label><br>
      <select id="game_spot" name="game_spot">
          {% for place in places %}
            <option value="{{ place }}">{{ place }}</option>
          {% endfor %}
      </select><br>
      <label for="content">Comment:</label><br>
      <input type="text" id="content" name="content" value="ex) 매너 좋은 분만요."><br>
      <button type="submit">Write!</button>
  </fieldset>
</form>
{% endblock content %}
